.sidebar-container {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.left-container a{
    text-decoration: none;
    color: white;
}

.right-container a{
    text-decoration: none;
    color: white;
}